<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="air-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nike Air Max
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="air-max">
                <a href="{% url 'products' %}?category=am1" class="dropdown-item">Air Max 1</a>
                <a href="{% url 'products' %}?category=am90" class="dropdown-item">Air Max 90</a>
                <a href="{% url 'products' %}?category=am95" class="dropdown-item">Air Max 95</a>
                <a href="{% url 'products' %}?category=tns" class="dropdown-item">Air Max Plus</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="air-jordan-dunk" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nike Air
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=jordan" class="dropdown-item">Air Jordan</a>
                <a href="{% url 'products' %}?category=af1" class="dropdown-item">Air Force</a>
                <a href="{% url 'products' %}?category=huarache" class="dropdown-item">Air Huarache</a>
                <a href="{% url 'products' %}?category=dunks" class="dropdown-item">Nike Dunks</a>
            </div>
        </li>
    </ul>
</div>