{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your Favourite Products</h2>
        </div>
    </div>
    <div class="row">
        {% for favourite in user_favourites %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if favourite.favourite_item.image %}
                <img src="{{ favourite.favourite_item.image.url }}" class="card-img-top" alt="{{ favourite.favourite_item.name }}">
                {% else %}
                <img src="{% static 'noimage.png' %}" class="card-img-top" alt="No Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ favourite.favourite_item.name }}</h5>
                    <p class="card-text">{{ favourite.favourite_item.description }}</p>
                    <p class="card-text">Price: £{{ favourite.favourite_item.price }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No favourite products found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
