{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="product-details-container mt-5">
                <h1 class="product-title">{{ product.name }}</h1>
                <div class="image-container my-3">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="product-image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <img class="product-image img-fluid" src="{% static 'noimage.png' %}" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <p class="lead mb-4">£{{ product.price }}</p>
                <p class="product-description">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
